/* ! CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? misure fisse */
:root {
    --space: 40px;
    --brd: 2px dashed black;
}
/* colori fissi */
.gray{
    background-color: rgb(181, 178, 178);
}
.green{
    background-color: green;
    border: var(--brd);
}
.dark{
    background-color: rgb(48, 47, 47);
    border-bottom: 2px solid white;
}
/*  centralizzazione */
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: var(--space ) 0;
    min-height: 600px;
}
.reverse{
    flex-direction: row-reverse;
}

/* contenitori header */
.header-top{
    min-height: 70px;
    background-color: rgb(194, 221, 238);
    display: flex;
    justify-content: center;
    padding: 15px;
}
.deck-top{
    height: 40px;
    flex-basis: 70%;
    background-color: rgb(255, 221, 0);
    display: flex;
}
.card-top{
    border: var(--brd);
    flex-basis: calc(30% / 2);
}
.card-top.long{
    flex-basis: 70%;
}
.header-bottom{
    min-height: 500px;
    background-color: darkblue;
    display: flex;
    
}
.header-box{
    flex-basis: 60%;
    background-color: rgb(230, 137, 219);
    border: var(--brd);
}

/* contenitori principali */
.deck{
    display: flex;
    flex-basis: 70%;
}
.card-xl{
    flex-basis: 60%;
    background-color: rgb(79, 185, 226);
    border: var(--brd);
}
.card-xs{
    background-color: pink;
    flex-basis: 40%;
    border: var(--brd);
}
section.container{
    min-height: 1200px;
}
/* navigazione fondo pagina */
.col{
    flex-basis: calc(80% / 4);
    background-color: aqua;
    border: var(--brd);
}
.col.social{
    flex-basis: 30%;
    background-color: salmon;
    border: var(--brd);
}
.container.dark{
    min-height: 800px;
    padding: 15px 0 40px;
}