/* ! CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? misure fisse */
:root {
    --space: 2rem;
    --brd: 1px dashed black;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: var(--space ) 0;
    min-height: 600px;
}

/* contenitori header */
.header-top{
    min-height: 50px;
    background-color: rgb(194, 221, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.deck-top{
    height: 30px;
    flex-basis: 70%;
    background-color: rgb(255, 221, 0);
    display: flex;
    justify-content: flex-start;
}
.card-top{
    border: var(--brd);
    flex-basis: calc(30% / 2);
}
.card-top.big{
    flex-basis: 70%;
}
.header-bottom{
    min-height: 500px;
    background-color: darkblue;
    display: flex;
    
}
.header-box{
    flex-basis: 60%;
    background-color: rgb(230, 137, 219);
    border: var(--brd);
}

/* contenitori principali */

.gray{
    background-color: rgb(181, 178, 178);
}
